.component {
    width: 100%;
    height: 100%;
    transition: opacity 700ms 300ms;
}

.loaderContainer {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    transition: opacity 700ms 300ms;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    transition: opacity 700ms 300ms;
    /*animation-fill-mode: both;*/
    /*animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);*/
}

.unloaded {
    opacity: 1;
    transition: opacity 700ms 300ms;
}

.loaded {
    opacity: 0;
    pointer-events: none;
    transition: opacity 700ms 300ms;
}
