@value idHeight: 300px;
@value sidebarWidth: 320px;

.component {
    width: 100%;
    height: 100%;
    background-color:  #e8e8e8;
}

.sidebarContainer {
    width: sidebarWidth;
    height: 100%;
    background-color: #e8e8e8;
    position: absolute;
    left: 0;
    top: 0;
}

.idContainer {
    width: sidebarWidth;
    height: idHeight;
}

.menuContainer {
    width: sidebarWidth;
    padding-top: 10px;
    height: calc(100% - idHeight);
}

.bodyContainer {
    position: absolute;
    left: sidebarWidth;
    width: calc(100% - sidebarWidth);
    height: 100%;
}
