.component {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(179,179,179,0.5);
    -moz-box-shadow: 0px 0px 9px 0px rgba(179,179,179,0.5);
    box-shadow: 0px 0px 9px 0px rgba(179,179,179,0.5);
}
